body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7d19a5;
    scroll-behavior: smooth; /* Enable smooth scrolling for the whole page */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    padding: 0.5em;
    background-color: #007BFF;
}

nav a {
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

li {
    margin-bottom: 0.5em;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #ffcc00;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.project button {
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.project button:hover {
    background-color: #e5b700;
}

.skill-category {
    margin-bottom: 20px;
}

.skill-category h3 {
    color: #333;
}

.skill-category ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill-category li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 8px 15px;
    background-color: #502185;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}

.about-content {
    flex-direction: column;
    align-items: center;
}

.about-text {
    max-width: 100%;
    text-align: center;
}

.about-image img {
    max-width: 30%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }
    
    .about-text {
        max-width: 100%;
        text-align: center;
    }
    
    .about-image img {
        max-width: 60%;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}